<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.farm.dao.interfaces.IProductDAO">
    <!-- keyColumn: Column in Data Base. keyProperty: field in java class     -->
    <insert id="save" statementType="CALLABLE" keyColumn="id" keyProperty="productId" useGeneratedKeys="true">
    <!-- // Insert purchasable product (name, quantity, price_per_unit, Farms_id, sell_price, rotten_percentage, rot_per_day)   -->
    <!-- Mybatis only allows one callable statement at a time   -->
    CALL InsertPurchasableProduct(#{name},#{quantity},#{pricePerUnit},#{farmId},#{sellPrice},#{rottenPercentage},#{rotPerDay});
    </insert>

    <select id="getProductById" parameterType="int" resultType="com.solvd.farm.model.Product">
        SELECT P.*, Cble.name, Cble.quantity, Cble.Farms_id, Pble.price_per_unit, C.abbreviation as currency
        FROM Products P
        LEFT JOIN Purchasable Pble ON P.Purchasable_id = Pble.id
        LEFT JOIN Countable Cble ON Pble.Countable_id = Cble.id
        LEFT JOIN Currency C ON Pble.Currency_id = C.id
        WHERE P.id=#{id};
    </select>

    <!-- sql tags: they are templates -->

    <select id="productList" resultMap="ProductResultMap">
        SELECT P.*, Cble.name, Cble.quantity, Cble.Farms_id, Pble.price_per_unit, C.abbreviation as currency
        FROM Products P
        LEFT JOIN Purchasable Pble ON P.Purchasable_id = Pble.id
        LEFT JOIN Countable Cble ON Pble.Countable_id = Cble.id
        LEFT JOIN Currency C ON Pble.Currency_id = C.id;
    </select>


    <resultMap id="ProductResultMap" type="com.solvd.farm.model.Product" autoMapping="false">
        <!-- Column: Column in Data Base. Property: field in java class -->
        <!-- id-->
        <id property="productId" column="id"/>
        <!-- other fields-->
        <result property="name" column="name"/>
        <result property="quantity" column="quantity"/>
        <result property="pricePerUnit" column="price_per_unit"/>
        <result property="purchasableId" column="Purchasable_id"/>
        <!--  currency not implemented yet -->
        <result property="sellPrice" column="sell_price"/>
        <result property="rottenPercentage" column="rotten_percentage"/>
        <result property="rotPerDay" column="rot_per_day"/>
    </resultMap>
</mapper>